* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fdfdfd;
}

header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
}

.arrow {
  left: 54rem;
  margin-top: -0.01rem;
  width: 24px;
  height: 24px;
}

.eye-icon {
  width: 18px;
  height: 18px;
  margin-top: 0.2rem;
  left: 67rem;
}

.shape1 {
  height: 9rem;
}

.pass-img {
  margin-top: -180px;
  height: 35rem;
  padding-left: 7rem;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
}

.image-section-mobile {
  display: none;
}

.left-section {
  width: 50%;
}

.right-section {
  background-image: url(img/change-pass-shape2.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 18rem;
  width: 50%;
}

.form-content {
  padding: 0px 45px;
}
.form-container {
  background-color: #ebecee;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 5rem;
}

input {
  background-color: #ebecee;
  font-size: 14px;
  border: none;
  border-bottom: #22443e 1px solid;
  padding-bottom: 0.2rem;
  width: 350px;
  font-family: Arial, FontAwesome;
}

.form-container img {
  width: 2rem;
  position: absolute;
  right: 12rem;
}

.form-container h3 {
  margin-top: 2rem;
  text-align: center;
  font-size: 19.5px;
  color: #22443e;
}

.form-container .input-pass {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 13px;
}

.form-container .pass-brief {
  margin-bottom: 1rem;
  line-height: 1rem;
  font-size: 11px;
  color: #2d2d2d;
  font-weight: 600;
  margin-top: 0.5rem;
}

.btn-reset {
  border: none;
  padding: 12px 40px;
  width: 100%;
  background-color: #22443e;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.back-to-login {
  text-align: center;
  color: #22443e;
  margin-top: 1rem;
}

.bottom-shape {
  background-image: url(img/change-pass-shape3.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 30rem;
  height: 5rem;
  margin-top: -5rem;
}

a {
  text-decoration: none;
}

/* Media query for mobile sizes*/

/* specific styling for 350px for icons only */

@media screen and (max-width: 350px) {
  .eye-icon {
    display: none;
  }

  .mobile-img {
    height: 405px;
  }

  form input {
    width: auto;
  }
}

/* specific styling for 401- 475px for eye-icon only */

@media (min-width: 401px) and (max-width: 475px) {
  .eye-icon {
    width: 18px;
    height: 18px;
    margin-top: 0.2rem;
    left: 5rem;
  }

  form input {
    width: 240px;
  }
}

/* Media query for mobile from 300px-400px*/

@media (min-width: 300px) and (max-width: 400px) {
  body {
    margin-bottom: 3rem;
  }

  .left-section {
    display: none;
  }

  header {
    display: none;
  }

  .bottom-shape {
    display: none;
  }
  .right-section {
    background-image: none;
    background-repeat: none;
    background-position: none;
    background-size: none;
    width: 100%;
  }

  .form-container img {
    width: 2rem;
    position: absolute;
    right: 3.5rem;
  }
  .image-section-mobile {
    display: block;
  }
  .mobile-img {
    height: 435px;
  }

  .content-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .arrow {
    left: 6rem;
    margin-top: 0.1rem;
    width: 24px;
    height: 24px;
  }

  .form-container {
    background-color: #ebecee;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -2rem;
  }

  .form-content {
    padding: 0px;
  }

  input {
    background-color: #ebecee;
    font-size: 14px;
    border: none;
    border-bottom: #22443e 1px solid;
    padding-bottom: 0.2rem;
    width: 220px;
    font-family: Arial, FontAwesome;
  }

  .eye-icon {
    width: 18px;
    height: 18px;
    margin-top: 0.2rem;
    left: 16rem;
  }
}

/* styling from 401-500px*/

@media (min-width: 401px) and (max-width: 500px) {
  body {
    margin-bottom: 3rem;
  }

  .left-section {
    display: none;
  }

  header {
    display: none;
  }

  .bottom-shape {
    display: none;
  }
  .right-section {
    background-image: none;
    background-repeat: none;
    background-position: none;
    background-size: none;
    width: 100%;
  }

  .form-container img {
    width: 2rem;
    position: absolute;
    right: 3.5rem;
  }
  .image-section-mobile {
    display: block;
  }
  .mobile-img {
    height: 525px;
  }

  .content-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .arrow {
    left: 10rem;
    margin-top: 0.1rem;
    width: 24px;
    height: 24px;
  }

  .form-container {
    background-color: #ebecee;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -2rem;
  }

  .form-content {
    padding: 0px;
  }

  input {
    background-color: #ebecee;
    font-size: 14px;
    border: none;
    border-bottom: #22443e 1px solid;
    padding-bottom: 0.2rem;
    width: 300px;
    font-family: Arial, FontAwesome;
  }

  .eye-icon {
    width: 18px;
    height: 18px;
    margin-top: 0.2rem;
    left: 21rem;
  }
}

/* styling from 501-550px*/
@media (min-width: 501px) and (max-width: 550px) {
  body {
    margin-bottom: 3rem;
  }

  .left-section {
    display: none;
  }

  header {
    display: none;
  }

  .bottom-shape {
    display: none;
  }
  .right-section {
    background-image: none;
    background-repeat: none;
    background-position: none;
    background-size: none;
    width: 100%;
  }

  .form-container img {
    width: 2rem;
    position: absolute;
    right: 3.5rem;
  }
  .image-section-mobile {
    display: block;
  }
  .mobile-img {
    height: 595px;
  }

  .content-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .arrow {
    left: 10rem;
    margin-top: 0.1rem;
    width: 24px;
    height: 24px;
  }

  .form-container {
    background-color: #ebecee;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -2rem;
  }

  .form-content {
    padding: 0px;
  }

  input {
    background-color: #ebecee;
    font-size: 14px;
    border: none;
    border-bottom: #22443e 1px solid;
    padding-bottom: 0.2rem;
    width: 300px;
    font-family: Arial, FontAwesome;
  }

  .eye-icon {
    width: 18px;
    height: 18px;
    margin-top: 0.2rem;
    left: 21rem;
  }
}

@media (min-width: 551px) and (max-width: 700px) {
  body {
    margin-bottom: 3rem;
  }

  .left-section {
    display: none;
  }

  header {
    display: none;
  }

  .bottom-shape {
    display: none;
  }
  .right-section {
    background-image: none;
    background-repeat: none;
    background-position: none;
    background-size: none;
    width: 100%;
  }

  .form-container img {
    width: 2rem;
    position: absolute;
    right: 4rem;
  }
  .image-section-mobile {
    display: block;
  }
  .mobile-img {
    height: 650px;
  }

  .content-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .arrow {
    left: 12.5rem;
    margin-top: 0.1rem;
    width: 24px;
    height: 24px;
  }

  .form-container {
    background-color: #ebecee;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -2rem;
  }

  .form-content {
    padding: 0px;
  }

  input {
    background-color: #ebecee;
    font-size: 14px;
    border: none;
    border-bottom: #22443e 1px solid;
    padding-bottom: 0.2rem;
    width: 350px;
    font-family: Arial, FontAwesome;
  }

  .eye-icon {
    width: 18px;
    height: 18px;
    margin-top: 0.2rem;
    left: 25rem;
  }
}

/* Responsiveness for small desktop view */