@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  margin: 2rem 12rem;
  /* margin: 0 auto; */
}

.vector1 {
  height: 10rem;
  /* padding-left: 2rem; */
}

.vector2 {
  height: 5rem;
  right: 12rem;
  position: absolute;
}

.small-vector1,
.small-vector2 {
    display: none;
}

.wrapper {
  /* padding-top: 0.5rem; */
  /* padding-bottom: 4rem; */
  background-color: #ebecee;
  border-radius: 20px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 15%);
  margin-top: -4rem;
  width: 60%;
  position: relative;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  margin-right: auto;
  margin-left: auto;
}

.check-mark {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.check-mark img {
  height: 6rem;
  /* margin: 0 auto; */
}

.pswrd-changed-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.login-text {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.buttonCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: #22443e;
  color: #f6f6f6;
  padding: 0.8rem 12rem;
  border-radius: 8px;
  border: #22443e;
}

.vectorBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vector3 {
  /* width: 50%; */
  height: 7rem;
  margin-top: 2rem;
  /* padding-left: 3rem; */
}

@media (max-width: 1300px) {
    .vector2 {
        height: 5rem;
        right: 10rem;
        position: absolute;
    }

    .button {
        padding: 0.8rem 10rem;
    }

    .vector3 {
        height: 6rem;
    }
}

@media (max-width: 1100px) {
    main {
        margin: 2rem 10rem;
    }

    .vector2 {
        height: 5rem;
        right: 8rem;
        position: absolute;
    }

    .check-mark {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .check-mark img {
        height: 5rem;
    }

    .pswrd-changed-text {
        text-align: center;
        font-size: 1.625rem;
        font-weight: 600;
    }

    .login-text {
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        line-height: 2rem;
    }

    .button {
        font-size: 1rem;
        padding: 0.8rem 8.5rem;
    }

    .vector3 {
        height: 5rem;
    }
}

@media (max-width: 900px) {
    main {
        margin: 2rem 6rem;
    }

    .vector2 {
        height: 5rem;
        right: 4rem;
        position: absolute;
    }

    .vector3 {
        height: 4.5rem;
    }
}

@media (max-width: 768px) {
    main {
        margin: 2rem 3.5rem;
    }

    .vector1 {
        height: 8rem;
    }

    .vector2 {
        height: 4rem;
        right:4rem;
        position: absolute;
    }

    .check-mark img {
        height: 4.5rem;
    }

    .pswrd-changed-text {
        font-size: 1.5rem;
    }

    .login-text {
        font-size: .875rem;
    }

    .button {
        padding: 0.6rem 7rem;
        font-size: .875rem;
    }

    .vector3 {
        height: 4.5rem;
    }
}


@media (max-width: 600px) {
    main {
        margin: 2rem 3rem;
    }

    .vector1 {
        height: 7rem;
    }

    .vector2 {
        height: 3rem;
        right:3rem;
        position: absolute;
    }

    .check-mark img {
        height: 4rem;
    }

    .pswrd-changed-text {
        font-size: 1.25rem;
    }

    .login-text {
        font-size: .75rem;
    }

    .button {
        padding: 0.6rem 6rem;
        font-size: 0.75rem;
    }

    .vector3 {
        height: 3.5rem;
    }
}

@media (max-width: 500px) {
    main {
        margin: 0 auto;
    }

    .vector1 {
        display: none;
    }

    .vector2 {
        display: none;
    }

    .small-vector1 {
        display: block;
        margin-top: 3rem;
    }

    .small-vector2 {
        display: block;
        margin-left: 28.8rem;
        margin-top: -23rem;
    }

    .wrapper {
        width: 95%;
        margin-top: -10rem;
        background-color: rgb(236, 237, 239, 0.3);
    }

    .check-mark img {
        height: 5rem;
    }

    .pswrd-changed-text {
        font-size: 1.5rem;
    }

    .login-text {
        font-size: 1rem;
    }

    .button {
        padding: 0.6rem 10rem;
        font-size: 0.75rem;
    }

    .vector3 {
        height: 4.5rem;
    }
}

@media (max-width: 400px) {
    .small-vector2 {
        display: block;
        margin-left: 22.6rem;
        margin-top: -23rem;
    }
    
    .check-mark img {
        height: 4rem;
    }

    .pswrd-changed-text {
        font-size: 1.25rem;
    }

    .login-text {
        font-size: .75rem;
    }

    .button {
        padding: 0.6rem 6rem;
        font-size: 0.75rem;
    }

    .vector3 {
        height: 4rem;
    }
}
