@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 6rem;
}

.container {
    display: flex;
}

.leftDiv {
    width: 50%;
}

.vector1 {
    width: 50%;
}

.ladyImg {
    width: 586px;
    margin-top: -5rem;
}

.mobileLadyImg {
    display: none;
}

.rightDiv {
    width: 50%;
}

.vector2 {
    width: 65%;
    margin-left: 12rem;
}

.wrapper {
    padding-top: 1rem;
    padding-bottom: 7.5rem;
    background-color: #EBECEE;
    border-radius: 20px;
    box-shadow:1px 3px 3px rgba(0, 0, 0, 15%);
    margin-top: 4rem;
    width: 85%;
    /* position: relative; */
}

.add {
    /* width: 0; */
    height: 2.5rem;
    padding-left: 535px;
    /* position: absolute; */
}

.emailText {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin: 1rem 0;
    color: #22443E;
}

.pswrdReset {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 32px;
}

.pswrdReset a {
    text-decoration: none;
    color: #22443E;
}

.buttonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    background-color: #22443E;
    color: #f6f6f6;
    padding: 0.8rem 10rem;
    border-radius: 8px;
    border: 1px solid #22443e;
}

.resendMail {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 32px;
}

.resendMail a {
    text-decoration: none;
    color: #22443E;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.loginPage img {
    width: 20px;
    margin-top: 2rem;
}

.loginPage p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-top: 2rem;
}

.vectorBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vector3 {
    width: 50%;
    margin-top: -16px;
}

/* Media Queries */

@media screen and (min-width:320px) and (max-width:767px) {
    body::-webkit-scrollbar {
        display: none;
    }
    
    main {
        margin: 0;
        /* max-width: 375px; */
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    
    .vector1 {
        display: none;
    }

    .ladyImg {
        display: none;
    }

    .mobileLadyImg {
        display: block;
        /* width: 306px; */
        height: 422px;
    }

    .vector2 {
        display: none;
    }

    .wrapper {
        padding-top: 0.5rem;
        padding-bottom: 2.5rem;
        background-color: #EBECEE;
        border-radius: 12px;
        box-shadow:1px 3px 3px rgba(0, 0, 0, 15%);
        margin-top: -5rem;
        width: 182%;
        /* position: relative; */
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .add {
        height: 2rem;
        padding-left: 305px;
    }

    .emailText {
        font-size: 17.75px;
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 0.5rem;
        color: #22443E;
    }

    .pswrdReset {
        font-size: 12px;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 20px;
    }
    

    .button {
        font-size: 12px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        background-color: #22443E;
        color: #f6f6f6;
        padding: 0.5rem 5rem;
        border-radius: 8px;
        border: 1px solid #22443e;
    }

    .resendMail {
        font-size: 12px;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 20px;
    }

    .loginPage {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
    }

    .loginPage img {
        width: 12px;
        margin-top: 0.5rem;
    }

    .loginPage p {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 17px;
        margin-top: 0.5rem;
    }

    .vector3 {
        width: 95%;
        margin-top: 2.5rem;
    }
}

@media screen and (min-width:768px) and (max-width:1439px) {
    body::-webkit-scrollbar {
        display: none;
    }
    
    main {
        margin: 0;
        /* max-width: 375px; */
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    
    .vector1 {
        display: none;
    }

    .ladyImg {
        display: none;
    }

    .mobileLadyImg {
        display: block;
        /* width: 306px; */
        height: 865px;
    }

    .vector2 {
        display: none;
    }

    .wrapper {
        padding-top: 0.5rem;
        padding-bottom: 2.5rem;
        background-color: #EBECEE;
        border-radius: 12px;
        box-shadow: 1px 3px 3px rgb(0 0 0 / 15%);
        margin-top: -10rem;
        width: 191%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .add {
        height: 2rem;
        padding-left: 695px;
    }

    .emailText {
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 1rem;
        color: #22443E;
    }

    .pswrdReset {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 24px;
    }
    

    .button {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        background-color: #22443E;
        color: #f6f6f6;
        padding: 1rem 9rem;
        border-radius: 8px;
        border: 1px solid #22443e;
        }

    .resendMail {
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 22px;
    }

    .loginPage {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
    }

    .loginPage img {
        width: 15px;
        margin-top: 0.5rem;
    }

    .loginPage p {
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 17px;
        margin-top: 0.5rem;
    }

    .vector3 {
        width: 95%;
        margin-top: 2.5rem;
    }
}
    