* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
select {
    width: 308px;
    height: 31.46px;
    border: 0.827926px solid #2D2D2D;
border-radius: 6.6234px;
}

textarea {
    width: 309px;
height: 31.46px;
border: 0.827926px solid #2D2D2D;
border-radius: 6.6234px;
box-sizing: border-box;


}

h2 {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 43px;
}
.content {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.content h3 {
    font-style: normal;
font-weight: 500;
font-size: 16.3881px;
line-height: 39px;
letter-spacing: 0.409161px;

color: #2D2D2D;
}
.meta {
    width: 338.7px;
    height: 95.67px;
    box-sizing: border-box;
    background: #F8F8F8;
    border: 0.910452px solid #2D2D2D;
    border-radius: 13.6568px;

}

.meta::placeholder {
    
   position: absolute;
   top: 40%;
   left: 12%;
   
    
}
.aside {
    display: flex;
    flex-direction: column;
    
}
.aside h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16.3881px;
    line-height: 39px;
    letter-spacing: 0.409161px;
    
    color: #2D2D2D;
}
.snippet {
    width: 338.72px;
    height: 130.28px;
    box-sizing: border-box;
    background: #F8F8F8;
    border: 0.898456px solid #2D2D2D;
    border-radius: 8.98456px;
    display: flex;
    justify-content: space-between;
}
.snippet-text {
    margin-top: 1rem;
    margin-right: 1rem;
}
.snippet-text p {
    margin-top: 4px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16.1722px;
line-height: 25px;
text-align: center;
}

.snippet-text button {
    margin-top: 0.5rem;
    width: 87.15px;
    height: 31.45px;
    background: rgba(34, 68, 62, 0.8);
    border-radius: 8px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12.5784px;
line-height: 29px;
letter-spacing: 0.134768px;
cursor: pointer;

color: #F6F6F6;
border: none;

}
.snippet-text h5 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14.3753px;
line-height: 25px;
color: rgba(45, 45, 45, 0.8);
}

.snippet img {
   height: 110px;
   width: 120px;
   margin-top: 1rem;
   padding: 1rem;
}
.snippet-box {
    width: 338.72px;
    height: 130.28px;
    box-sizing: border-box;
    background: #F8F8F8;
    border: 0.898456px solid #2D2D2D;
    border-radius: 8.98456px;
    display: flex;
    justify-content: space-between;
}
.snippet-box img {
    height: 110px;
    width: 120px;
    margin-top: 1rem;
    padding: 1rem;
}
.snippet-box-test {
    width: 207px;
height: 64px;
display: flex;
flex-direction: column;
margin-right: 7px;
margin-top: 2rem;
}
.snippet-box-test h5 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17.363px;
line-height: 32px;
letter-spacing: 0.332148px;

/* Primary/Primary07 */

color: #22443E;
}
.snippet-box-test p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11.9371px;
line-height: 32px;
letter-spacing: 0.332148px;

color: rgba(45, 45, 45, 0.8);
}
.description h4 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16.3881px;
line-height: 29px;
}
.descriptions {
    width: 339px;
height: 140px;
box-sizing: border-box;
background: #F8F8F8;
border: 0.910452px solid #2D2D2D;
border-radius: 13.6568px;

}

.descriptions::placeholder {
    position: absolute;
    top: 40%;
    left: 30%;
}

.disable {
    margin-left: 4px;
}

.comments {
width: 300px;
height: 180px;

}
.comments button {
    margin-top:5rem;
    width: 87.15px;
    height: 31.45px;
    background: #22443E;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12.5784px;
    line-height: 29px;
    letter-spacing: 0.134768px;
    cursor: pointer;
    color: #F6F6F6;
    border: none;
    margin-left: 6rem;
    margin-right: -5rem;
}
label {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13.1088px;
line-height: 21px;
letter-spacing: 0.327721px;

color: #2D2D2D;

}

.description {
    margin-left: 2rem;
}
.comments {
    margin-left: 2rem;
}

@media screen and (min-width: 768px) {
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1000px;
        margin-right: -3rem;
    
        
    }
    .post {
      
       margin-right: -3rem;
       margin-left: -3rem;
    }
    .description textarea {
       width: 80%;
       margin-left: 3rem;
    }
    textarea {
        margin-left: 3rem;
    }
    .content h3 {
        margin-left: 3rem;
    }
    .post h3 {
        margin-left: 3rem;
    }
    select {
        margin-left: 3rem;
    }
    .description h4 {
        margin-left: 3rem;
    }
    .comments h4 {
        visibility: hidden;
    }
    .comments input {
        visibility: hidden;
    }
    .comments label {
        visibility: hidden;
    }
    .comments button {
       position: absolute;
       left: 38%;
    }
    .newsletter {
        visibility: hidden;
        height: 50px;
    }
    
    
}