*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  .ctn{
    width:80%;
    margin: auto;
    /* padding: 30px;
    margin: 20px; */
    line-height: 30px;
    /* align-items: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* position: relative; */
    gap: 3rem;
  }
  body{
    font-family:  'Poppins', sans-serif;
    padding: 30px;
    /* position: relative; */
  }
  .img{
    display: flex;
    justify-content: space-between;
  }
  /* .hidden{ */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */

  /* } */
  .img img{
    width: 300px;
  }
  /* .flctn{
    display: flex;
    justify-content: space-between;
    width: 100%;
  } */
  .flctn-img{
    width: 100%;
  }
  .form{
    background-color: #EBECEE;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 10px;
    margin: 20px;
    /* height: 600px; */
    border-radius: 12px;
    /* justify-content: center; */
  }
  .txt{
    color: rgba(18, 18, 18, 1);
    padding: 20px;
    text-align: center;
    line-height: 30px;
    font-family:  'Poppins', sans-serif;
    font-size: 20px;
  }
  .btxt{
    color: rgba(34, 68, 62, 1);
    font-weight: 600;
    font-size: 30px;
    padding: 20px;
  }
  input{
    border-bottom:1px solid rgba(18, 18, 18, 1);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-sizing: border-box;
    padding: 20px;
    width: 80%;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.5;
    background-color: transparent;
    /* border-bottom:1px solid brown;
    width: 80%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px; */
    
  }
  .form button{
    width: 85%;
    border-radius: 5px;
    background-color: rgba(34, 68, 62, 1);
    color:rgba(246, 246, 246, 1);
    border: none;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    
  }
  .bk{
    color: rgba(34, 68, 62, 1);
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
  }
  .bt-img{
    /* display: flex;
    justify-self: center; */
    /* position: absolute; */
    /* bottom:0;  */
    /* right: 22rem; */
    /* z-index: -1; */
    display: flex;
    justify-content: center;
    
  }
  .i{
    /* width: 60px;
    display: flex;
    justify-self: end;
    align-items: right; */
    position: absolute;
    right: 130px;
    /* width: 100px; */
  }
  
  /* media query begins for mobile */
  @media only screen and (max-width:600px){
    .ctn{
      grid-template-columns: 100%;
      /* gap: 0; */
    }
    .flctn-img{
      width:100%;
    }

    .img{
      display: none;
    }
    .form{
      width: 100%;
      margin-bottom: 2rem;
    }
    
  }
  @media only screen and (max-width:600px){
    .ctn{
      grid-template-columns: 100%;
      /* gap: 0; */
    }
    .flctn-img{
      width:100%;
    }

    .img{
      display: none;
    }
    .form{
      width: 100%;
      margin-bottom: 2rem;
    }
    
  }
  .hidden{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);

  }
  .time{
    display: flex;
    justify-content: space-between;
  }
  .battery{
    display: flex;
    gap: 4px;
  }
 
  @media only screen and (max-width:1440px){
   .ctn{ display: grid;
    /* grid-template-rows: 100%; */
    }
  }
  
  .hidden{
    display: none;
  }
  .time{
    display: none;
  }