<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{category_list.categories}} <br>
    {% for post in category_list.posts %}
    <br>
    <a href="{% url 'post:post_detail' post.slug %}">{{post.title}}</a><br>
    <a href="{{ post.image.url }}">
            <img src="{{ post.image.url }}" alt="Lights" style="height:20%;width:20%">
         </a><br>
        {{post.contents |safe| truncatechars:500 }}<br>
    {% endfor %}
</body>
</html>