{% load static %}
<!DOCTYPE html>
<footer class="main_footer">
    <div class="footer_top">
      <img src="{% static './img/logo_resources/Favicon_White.png' %}" alt="Blogga Icon" />
      <ul>
        <li><a href="#">ADVERTISE</a></li>
        <li><a href="./write-for-us.html">WRITE FOR US</a></li>
        <li><a href="./category-page.html">CATEGORIES</a></li>
        <li>
          <a href="./index.html"
            ><img
              src="{% static './img/logo_resources/Favicon_White.png' %}"
              alt="Blogga Icon"
          /></a>
        </li>
        <li><a href="./archive.html">ARCHIVES</a></li>
        <li><a href="./termsofservice.html">TERMS OF SERVICE</a></li>
        <li><a href="./privacypolicy.html">PRIVACY</a></li>
      </ul>
    </div>

    <div class="footer_middle">
      <a href="#">
        <i class="fa-brands fa-facebook"></i>&ThinSpace;
        <span>FACEBOOK</span> </a
      ><a href="#"
        ><i class="fa-brands fa-twitter"></i>&ThinSpace;
        <span>TWITTER</span> </a
      ><a href="#"
        ><i class="fa-brands fa-linkedin-in"></i>&ThinSpace;
        <span>LINKEDIN</span> </a
      ><a href="#"
        ><i class="fa-brands fa-youtube"></i>&ThinSpace;
        <span>YOUTUBE</span></a
      ><a href="#"
        ><i class="fa-brands fa-instagram"></i>&ThinSpace;
        <span>INSTAGRAM</span> </a
      ><a href="#"
        ><i class="fa-brands fa-pinterest"></i>&ThinSpace;
        <span>PINTEREST</span>
      </a>
    </div>

    <div class="footer_bottom">
      <p>© 2022 The Blogga Team All Rights Reserved</p>
      <a href="#">Site Map</a>
    </div>
  </footer>
