* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}
body {
  background-color: #f8f8f8;
}

/* STYLING FOR MAIN CONTENT OF CATEGORY PAGE */

.category-header {
  padding: 0px 60px;
  padding-top: 1.5rem;
}

.category-header a {
  color: #2d2d2d;
  font-weight: 600;
}

.category-brief {
  padding: 10px 60px;
  text-align: center;
}

.category-brief h2 {
  color: #22443E;
  font-size: 26px;
  font-weight: 600;
  padding-top: 1.5rem;
}

.category-brief p {
  color: #22443e;
  font-size: 14px;
  margin-bottom: 1rem;
  padding: 10px 250px;
}

.category-brief #latest-paragraph{
  color: #2d2d2d;
  display: none;
}

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.category-brief .category-container .category-links {
  font-size: 20px;
}

.category-brief .category-container .category-links button {
  padding: 0.3rem 0.8rem;
  justify-content: center;
  background-color: #f8f8f8;
  color: #2d2d2d;
  border: #2d2d2d 1px solid;
  border-radius: 5px;
  font-weight: 600;
}

.main-content {
  color: rgb(232, 233, 236);
  display: grid;
  grid-template-columns: 2.6fr 1.5fr;
  margin-inline: 4rem 2.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.left-section {
  display: flex;
  margin-bottom: 2rem;
}

.left-image:hover{
  transform: scale(1.05, 1.05);
  transition: 0.5s ease;
}

.left-image img {
  width: 300px;
  height: 205px;
}

.left-content {
  padding-left: 30px;
  padding-right: 5px;
}

.left-content a {
  color: #2d2d2d;
  font-size: 16px;
  font-weight: 600;
}

.left-content p {
  color: rgba(45, 45, 45, 0.8);
  font-size: 14px;
  margin-top: 1rem;
  line-height: 1.5rem;
}

.read-more-section {
  margin-top: 0.5rem;
}

.read-more-section a {
  font-size: 12.5px;
  text-decoration: none;
  color: #2d2d2d;
  font-weight: 600;
}

.hr-line {
  background-color: #2d2d2d21;
  color: #2d2d2d28;
  -webkit-transform: rotate(0deg);
  position: absolute;
  width: 750px;
  height: 2px;
  left: 65px;
  border: 2px;
  margin-top: 14rem;
}

.right-section {
  display: flex;
  padding-left: 60px;
  margin-bottom: 0.3rem;

}

.right-header h3 {
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 1.8rem;
  color: #2d2d2d;
}

.btn-content button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #E4E4E4;
  margin-right: 5px;
}

.btn-content button a {
  font-size: 12px;
}

.category-hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #2d2d2d29;
}

hr{
  width: 100%;
}
.page-num-content {
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 23px;
}

.page-num-content a {
  color: #2d2d2d;
}

.page-btn{
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;

}

.page-num-content .active {
  background-color: #22443e;
  padding: 2px 5px;
  color: white;
  border-radius: 50%;
  text-decoration: underline #22443E;
  text-decoration-thickness: 2px;
  text-underline-offset: -3.2em;
}

.page-num-content .active:hover{
  color: white;
}

.page-num-content a:hover {
  color: #22443E;
}

.icon a img {
  height: 25px;
}

.gototop {
  position: fixed;
  width: 35px;
  height: 40px;
  background-color: #22443e;
  bottom: 40px;
  right: 10px;
  border-radius: 15px;

  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 22px;
}


/* LATEST STYLING*/

#latest{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.latest-hr{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #2d2d2dfa;
  margin-bottom: 1rem;
}

.post-section{
  display: flex;
  gap: 2rem;
}

.page-num-content .active2 {
  background-color: #22443e;
  padding: 2px 10px;
  color: white;
  border-radius: 50%;
  text-decoration: underline red;
  text-decoration-thickness: 2px;
  text-underline-offset: -3.2em;
}



/* Media query for mobile from 300px-600px*/

@media (min-width: 300px) and (max-width: 600px) {

.category-header {
  padding: 18px 60px;
}

.category-brief {
  text-align: justify;

}

.category-brief p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0px 0px;
}

.category-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.category-brief .category-container .category-links {
  padding: 0px 5px;
  padding-bottom: 1rem;
  font-size: 20px;

}

.category-brief .category-container .category-links button {
  padding: 0.1rem 0.4rem;
  justify-content: center;
  background-color: #f8f8f8;
  color: #2d2d2d;
  border: #2d2d2d 1px solid;
  border-radius: 5px;
  font-weight: 600;
}

.main-content {
  color: rgb(232, 233, 236);
  display: grid;
  grid-template-columns: 2.6fr;
 /* margin-inline: 0rem 0rem;*/
  margin-top: 1rem;
  margin-bottom: 3rem;
  /*padding: 0 60px;*/

}

.left-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
}

.left-image img {
  width: 100%;
  height: 100%;
}

.hr-line{
  display: none;
}

.left-content {
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}

.left-content a {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 600;
}

.right-section {
  display: flex;
  padding-left: 0px;
}

.btn-content button {
  border: none;
  padding: 8px;
  border-radius: 5px;
  background-color: #e4e4e4;
  margin-right: 3px;

}

.btn-content button a {
  font-size: 8px;
}

.right-header h3 {
  text-align: left;
  margin-top: -0.5rem;
  margin-bottom: 1.8rem;
  color: #2d2d2d;
}

.gototop {
    display: none;
}

.page-num-content {
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 5px;
}

#hide{
  display: none;
}


/* latest media query */
.category-brief #latest-paragraph{
  color: #2d2d2d;
  display: block;
}

.latest-hr{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #2d2d2dfa;
  margin-bottom: 1rem;
}

#category-brief2{
padding: 10px 0px;
text-align: center;
}

#latest-hr-bottom{
width: 100%;
margin-left: auto;
margin-right: auto;
color: #2d2d2d29;
}
.post-section{
display: flex;
gap: 5rem
}

}

/* Media query for mobile from 601px-768px*/

@media (min-width: 601px) and (max-width: 1200px) {



.main-content {
  color: rgb(232, 233, 236);
  display: grid;
  grid-template-columns: 2.3fr;
  margin-inline: 4rem 2.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.category-brief p {
  color: #22443e;
  font-size: 14px;
  margin-bottom: 1rem;
  padding: 10px 140px;
}

.hr-line{
  display: none;
}

.left-content a {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 600;
}
.category-brief .category-container .category-links {
  padding: 0px 5px;
  padding-bottom: 1rem;
  font-size: 20px;
}

.right-section {
  display: flex;
  padding-left: 0px;
}

.right-header h3 {
  text-align: left;
  margin-top: -0.5rem;
  margin-bottom: 1.8rem;
  color: #2d2d2d;
}

.page-num-content {
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 5px;
}
/* latest media query*/
.post-section{
display: flex;
gap: 1rem;
}

}

@media (min-width: 1201px) and (max-width: 1336px) {
.hr-line {
  background-color: #2d2d2d21;
  color: #2d2d2d28;
  -webkit-transform: rotate(0deg);
  position: absolute;
  width: 650px;
  height: 2px;
  left: 65px;
  border: 2px;
  margin-top: 14rem;
}
.main-content {
  color: rgb(232, 233, 236);
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  margin-inline: 4rem 2.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.btn-content button a {
  font-size: 11px;
}
}