* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

body {
  background-color: #f8f8f8;
}

.first-container {
  padding: 10px 60px;
  text-align: center;
}

.first-container p {
  font-size: 17px;
  color: #2d2d2d;
  margin-top: 1rem;
}

.first-container h3 {
  font-size: 30px;
  color: #2d2d2d;
  text-align: center;
}

.first-container-links {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15rem;
  margin-top: 2.5rem;
}

.first-container-links a {
  font-size: 14px;
  color: rgba(45, 45, 45, 0.5);
}

.first-container-links .active {
  color: #2d2d2d;
  font-weight: 500;
  text-decoration: underline 5px #22443e;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.7em;
}

.hr-top {
  margin-top: 0.3rem;
}

.second-container {
  display: grid;
  grid-template-columns: 1.5fr 3.5fr 1fr;
  padding: 0px 60px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.content1 h3 {
  color: #2d2d2d;
  font-size: 26px;
}
.content2 p {
  color: #2d2d2d;
  font-size: 16px;
}

.content3 {
  font-size: 14px;
  color: #2d2d2d;
  font-weight: 600;
}

.select {
  outline: none;
  border-radius: 5px;
  background-color: white;
  color: #2d2d2d;
  cursor: pointer;
}

.main-content-container {
  color: rgb(232, 233, 236);
  display: grid;
  grid-template-columns: 1fr 2.6fr 1fr;
  margin-inline: 4rem 2.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.middle-section {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.middle-image img {
  width: 280px;
  height: 205px;
}

.middle-image img:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s ease;
}

.middle-content {
  padding-right: 55px;
}

.middle-content a {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 600;
}

.middle-content p {
  color: rgba(45, 45, 45, 0.8);
  font-size: 12px;
  margin-top: 1rem;
  line-height: 1.2rem;
}

.status-section {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.status-section2 {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  justify-content: right;
}

.status-section .status-text,
.status-section2 .edit-icon {
  font-size: 12px;
  color: #2d2d2d;
  font-weight: 500;
}

.status-section .published-text {
  color: #22443e;
  font-size: 12px;
  font-weight: 500;
}

.status-section2 .delete-icon {
  font-size: 12px;
  color: #db2525;
  font-weight: 500;
}

.edit-container {
  display: flex;
}
.hr-line {
  background-color: #2d2d2d21;
  color: #2d2d2d28;
  -webkit-transform: rotate(0deg);
  position: absolute;
  width: 680px;
  height: 2px;
  left: 330px;
  border: 2px;
  margin-top: 13.5rem;
}

#status1 {
  margin-top: 1rem;
}

#icon-right1,
#icon-right2,
#icon-right3,
#icon-right4 {
  margin-top: -2rem;
}

#status2 {
  margin-top: 2.5rem;
}

#status4 {
  margin-top: 5rem;
}

.hr-page-num {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #2d2d2d1e;
  margin-top: -3rem;
}

.page-num-content a {
  color: #2d2d2d;
}

.page-num-content {
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  display: flex;
  gap: 23px;
}
.page-btn {
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}

.page-num-content .active {
  background-color: #22443e;
  color: white;
  border-radius: 50%;
  text-decoration: underline #2d2d2d;
  text-decoration-thickness: 2px;
  text-underline-offset: -3.2em;
}

.page-num-content .active:hover {
  color: #f8f8f8;
}

.page-num-content a {
  color: #2d2d2d;
}
.page-num-content a:hover {
  color: #22443e;
}

.last-container {
  padding: 5px 60px;
}

.last-header-content {
  display: flex;
  justify-content: space-between;
  padding: 5px 60px;
}

.hr-bottom {
  margin-left: auto;
  margin-right: auto;
  width: 91%;
}

.last-header-content h3 {
  color: #2d2d2d;
  font-weight: 500;
  font-size: 20px;
}

.last-header-content p {
  color: #2d2d2d;
}

.writers-content-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.writers-content img:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s ease;
}

.writers-content p {
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  font-size: 14px;
}

.para1 {
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.post-by {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
}

.post-by .post-by-bolder {
  font-size: 12px;
  font-weight: 500;
}

.post-by p {
  font-size: 10px;
}

#post-date {
  margin-top: 1.5rem;
}

.gototop {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #22443e;
  bottom: 40px;
  right: 60px;
  border-radius: 5px;

  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 28px;
}

.hidden {
  display: none;
}

/* Bookmark styling */

.button-container {
  padding: 20px 60px;
  text-align: center;
}

.button-container button {
  background-color: #f8f8f8;
  padding: 10px 25px;
  border-radius: 5px;
  color: #2d2d2d;
  border-color: #1e1e1ef9;
  cursor: pointer;
}

/* Media query for mobile from 300px-600px*/

@media (min-width: 300px) and (max-width: 650px) {
  .main-content-container {
    color: rgb(232, 233, 236);
    display: grid;
    grid-template-columns: 2fr;
    margin-inline: 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .hr-line {
    display: none;
  }

  .middle-section {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-bottom: 1.5rem;
    align-items: center;
  }

  .middle-content {
    padding-right: 0px;
    text-align: center;
  }

  .middle-container {
    padding: 0px 40px;
  }

  .middle-image img {
    width: 100%;
    height: 100%;
  }

  /*.middle-icon-section{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }*/

  .writers-content-container {
    display: grid;
    grid-template-columns: 2fr;
    gap: 0rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .writers-content-container {
    text-align: center;
  }

  .writers-content img {
    width: 100%;
  }

  .writers-content {
    margin-bottom: 2rem;
  }

  .post-by {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #post-date {
    margin-top: 0rem;
  }

  .writers-content p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .hr-page-num {
    width: 80%;
  }

  .page-num-content {
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 15px;
  }

  .hr-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .last-header-content p {
    display: none;
  }

  .last-container {
    margin-top: -1.5rem;
  }

  .first-container-links {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-top: 2.5rem;
  }

  .first-container {
    padding: 10px 40px;
    text-align: center;
  }

  .first-container-links a {
    font-size: 12px;
    color: rgba(45, 45, 45, 0.5);
  }

  .content2 {
    display: none;
  }

  .second-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 40px;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .content3 {
    font-size: 12px;
    color: #2d2d2d;
    font-weight: 600;
  }

  .content1 h3 {
    color: #2d2d2d;
    font-size: 18px;
  }

  .status-section {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
  }

  .status-section2 {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    justify-content: right;
  }

  .status-section .status-text,
  .status-section2 .edit-icon {
    font-size: 10px;
  }

  .status-section .published-text {
    font-size: 10px;
  }

  .status-section2 .delete-icon {
    font-size: 10px;
  }

  #status2 {
    margin-top: 0rem;
  }

  #status4 {
    margin-top: 0rem;
  }

  .last-container {
    padding: 5px 40px;
  }

  .last-header-content {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
  }

  .gototop {
    position: fixed;
    width: 35px;
    height: 35px;
    right: 15px;
    line-height: 35px;
    font-size: 25px;
  }
}

@media (min-width: 300px) and (max-width: 455px) {
  .first-container-links {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-top: 2.5rem;
  }

  .first-container {
    padding: 10px 15px;
    text-align: center;
  }

  .first-container-links a {
    font-size: 9px;
    color: rgba(45, 45, 45, 0.5);
  }

  .second-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 0px 40px;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .content3 {
    font-size: 10px;
    color: #2d2d2d;
    font-weight: 600;
  }

  .content1 h3 {
    color: #2d2d2d;
    font-size: 16px;
  }
}

@media only screen and (max-width: 321px) {
  .first-container-links a {
    font-size: 8px;
    color: rgba(45, 45, 45, 0.5);
  }
  .second-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 0px 40px;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .content3 {
    font-size: 10px;
    color: #2d2d2d;
    font-weight: 600;
  }

  .content1 h3 {
    color: #2d2d2d;
    font-size: 16px;
  }
}

@media (min-width: 651px) and (max-width: 1000px) {
  .main-content-container {
    grid-template-columns: 0fr 2.6fr 0fr;
  }

  .first-container-links {
    gap: 2rem;
  }

  .hr-line {
    display: none;
  }

  .writers-content-container {
    grid-template-columns: 2fr;
    gap: 0rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .writers-content-container {
    text-align: center;
  }

  .writers-content img {
    width: 80%;
  }

  .writers-content {
    margin-bottom: 2rem;
  }

  .post-by {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #post-date {
    margin-top: 0rem;
  }

  .writers-content p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .middle-content {
    padding-right: 0px;
  }

  .status-section {
    gap: 0.5rem;
  }

  .status-section2 {
    gap: 0.5rem;
  }

  .second-container {
    grid-template-columns: 1.5fr 3fr 1.5fr;
  }

  .content1 h3 {
    font-size: 20px;
  }
}

@media (min-width: 1001px) and (max-width: 1200px) {
  .main-content-container {
    grid-template-columns: 1fr 4fr 1fr;
    margin-inline: 4rem 2.5rem;
  }

  .middle-content {
    padding-right: 0px;
  }

  .hr-line {
    display: none;
  }

  .writers-content img {
    width: 100%;
  }
  .first-container-links {
    gap: 12rem;
  }

  .second-container {
    grid-template-columns: 1.5fr 3fr 1.5fr;
  }
}

@media (min-width: 1201px) and (max-width: 1280px) {
  .middle-content {
    padding-right: 0px;
  }

  .writers-content img {
    width: 100%;
  }

  .hr-line {
    background-color: #2d2d2d21;
    color: #2d2d2d28;
    -webkit-transform: rotate(0deg);
    position: absolute;
    width: 670px;
    height: 2px;
    left: 310px;
    border: 2px;
    margin-top: 13.5rem;
  }
}
