*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

  .ctn{
    width: 85%;
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }
  body{
    font-family:  'Poppins', sans-serif;
    padding: 30px;
    /* position: relative; */
  }
  .img{
    display: flex;
    justify-content: space-between;
  }
  /* .hidden{ */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */

  /* } */
  /* .img img{
    width: 300px;
  } */
  /* .flctn{
    display: flex;
    justify-content: space-between;
    width: 100%;
  } */
  .flctn-img{
    width: 100%;
    margin: 0 auto;
  }
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
  
  .form{
    position: relative;
    background-color: #EBECEE;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 60px 5px;
    /* margin: 20px auto; */
    border-radius: 12px;
  }
  .txt{
    color: rgba(18, 18, 18, 1);
    /* padding: 20px; */
    text-align: center;
    line-height: 30px;
    font-family:  'Poppins', sans-serif;
    font-size: 18px;
  }
  .btxt{
    color: rgba(34, 68, 62, 1);
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
  }
  input{
    border: 0;
    border-bottom:  1px solid  rgba(34, 68, 62, 1);
    box-sizing: border-box;
    padding:0 20px;
    margin-top: 40px;
    width: 90%;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.5;
    background-color: transparent;
  }
  .form button{
    width: 90%;
    margin: 20px 0 10px 0;
    border-radius: 8px;
    background-color: rgba(34, 68, 62, 1);
    color:rgba(246, 246, 246, 1);
    border: none;
    padding:15px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    
  }
  .bk{
    color: rgba(34, 68, 62, 1);
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
  }
  .bt-img{
    display: flex;
    justify-content: center;
  }
  .i{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .i i{
    font-size: 25px;
    font-weight: light;
    color: rgba(34, 68, 62, 1);
  }
  
  /* media query begins for mobile */
  /* @media only screen and (max-width:600px){
    .ctn{
      grid-template-columns: 100%;
      /* gap: 0; */
    /* }
    .flctn-img{
      width:100%;
    }

    .img{
      display: none;
    }
    .form{
      width: 100%;
      margin-bottom: 2rem;
    }
    
  }/ */
  @media only screen and (min-width:600px){
    .mobile{
      display:block;
    }
    .desktop{
      display:none;
    }
  }
  @media only screen and (max-width:600px){
    .ctn{
      grid-template-columns: 100%;
    }
    .flctn-img{
      width:100%;
      justify-content: center;
      align-content: center;
    }
    .bt-img{
      width: 130%;
    }

    .img{
      display: none;
    }
    .form{
      width: 130%;
      margin-bottom: 2rem;
    }
    
  }
  .hidden{
    display: block;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);

  }
 
  .time{
    display: flex;
    justify-content: space-between;
  }
  .battery{
    display: flex;
    gap: 4px;
  }
  .txt{
    font-size: 12px;
  }
 
  @media only screen and (max-width:1440px){
   .ctn{ display: grid;
    /* grid-template-rows: 100%; */
    }
    .hidden{
      display: none;
    }
    /* .mobile{
      display: none;
    } */
    .form{
      width: 120%;
    }
    .time{
      display: none;
    }
    .flctn-img img{
      width: 500px;
    }
    .flctn-img img{
      width: 120%;
    }
  }
  
 