*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body,
a {
  color: rgba(45, 45, 45, 1);
}
ul {
    list-style: none;
}
a,
ul,
button,
li,
p {
  font-size: 14px;
  text-decoration: none;
}header {
    position: sticky;
    z-index: 10000;
    top: 0;
    left: 0;
  }
  a,
ul,
button,
li,
p {
  font-size: 14px;
  text-decoration: none;
}

/* header */
header {
  position: sticky;
  z-index: 10000;
  top: 0;
  left: 0;
}
.banner {
  background-color: rgba(41, 82, 74, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
}
.banner_wrapper {
  display: flex;
  align-items: center;
  gap: 6rem;
  justify-content: space-between;
}
.banner_left > a {
  color: rgba(230, 230, 230, 1);
  font-size: 14px;
}
.banner_left > button {
  padding: 0.5rem 2.5rem;
  border: 1px solid rgba(230, 230, 230, 1);
  color: rgba(230, 230, 230, 1);
  font-weight: 200;
  font-size: 14px;
  border-radius: 0.5rem;
  background-color: inherit;
  margin-left: 1.5rem;
}
.banner i {
  color: rgba(230, 230, 230, 1);
  font-size: large;
}
.banner_search {
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  padding: 0 7rem 0.1rem 1rem;
  margin-bottom: -0.7rem;
}
.banner_search > input {
  background-color: inherit;
  color: rgba(248, 248, 248, 1);
  outline: none;
  border: none;
  margin-left: 0.7rem;
}
.banner_search > input::placeholder {
  color: rgba(248, 248, 248, 0.82);
  font-weight: 200;
}
.banner_socials {
  display: flex;
  gap: 2rem;
}

.nav_outer {
  background-color: white;
  padding: 1rem 4rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid rgba(34, 68, 62, 0.555);
  box-shadow: 0px 2px 12px rgba(82, 81, 81, 0.205);
}
.nav_outer > img {
  width: 4rem;
}
.nav_inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.hamburger > .span1 {
  width: 1.7rem;
}
.hamburger > .span2 {
  width: 1.5rem;
}
.hamburger > .span3 {
  width: 1.3rem;
}
.hamburger > .span1,
.hamburger > .span2,
.hamburger > .span3 {
  background-color: rgba(45, 45, 45, 0.877);
  border-radius: 1rem;
  padding: 0.1rem;
}
.more {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}
.dropdown_arrow {
  display: inline-flex;
  align-items: center;
  width: fit-content;
}
.dropdown_arrow img {
  width: 0.7rem;
}
.nav_inner > nav > ul {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.nav_inner > nav > ul > li > a {
  color: rgba(45, 45, 45, 1);
  font-weight: 500;
}
.button {
  padding: 0.4rem 1.3rem;
  border: 1px solid rgba(230, 230, 230, 1);
  color: rgba(230, 230, 230, 1);
  font-weight: 400;
  font-size: 14px;
  border-radius: 0.5rem;
  background-color: inherit;
}
.nav_btns > button:first-of-type {
  border: 1px solid rgba(34, 68, 62, 1);
  color: rgba(34, 68, 62, 1);
}
.subscribe {
    background-color: rgba(34, 68, 62, 1);
    border-color: rgba(34, 68, 62, 1);
    margin-left: 0.5rem;
    padding-inline: 0.8rem;
  }
  .ero{
    align-items: center;
    text-align: center;
  }
  .ero .meet{
    text-align: center;
    color: rgba(45, 45, 45, 1);
    font-weight: 600;
    font-size: 32px;
    padding: 10px, 10px, 5px;
  } 
  .ero .txt{
    text-align: center;
    color: rgba(0, 0, 0, 1);
    /* width: 70%; */
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 17.67px;
    align-items: center;
    font-weight: 400;
  }
  .team{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid  #2D2D2D; 
    gap: 4rem;
    padding: 20px;
  }
  .bend{
    display: flex;
    gap: 6rem;
  }
  .fend{
    display: flex;
    gap: 6rem;
  }
  .pdesign{
    display: flex;
    gap: 6rem;
    /* border-bottom: 1px solid; */
  }
  .amara{
    width: 100%;
  }
  .racheal{
    width: 90%;
  }
  .nife{
    width: 90%;
  }.nino{
    width: 85%;
  }
  .tlams{
    width: 80%;
  }
  .dotun{
    width: 100%;
  }
  .john{
    width: 85%;
  }
  .name{
    font-size: 17.67px;
    font-weight: 600;
  }
  .work{
    font-size: 14.72px;
    font-weight: 400;
  }
  .newsletter {
    padding-block: 1.5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
  .newsletter > h2,
  .writers_latest_head h2 {
    font-weight: 600;
  }
  .newsletter form {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .newsletter input {
    border: 1px solid rgba(34, 68, 62, 1);
    padding: 0.5rem;
    width: 25%;
    border-radius: 0.5rem;
  }
  .newsletter input:focus {
    border: 2px solid rgba(34, 68, 62, 1);
    box-shadow: 0px 2.7196781635284424px 2.7196781635284424px 0px
      rgba(0, 0, 0, 0.089);
    outline: none;
  }
  .newsletter .subscribe {
    padding-inline: 2rem;
  }
  
  footer {
    background-color: rgba(34, 68, 62, 1);
    color: rgba(248, 248, 248, 1);
  }
  .footer_top > ul {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 2rem;
    border-bottom: 1px solid rgba(248, 248, 248, 1);
    padding-inline: 2rem;
    padding-block: 2.5rem 1rem;
    font-size: 13px;
    margin: 0 auto;
  }
  .footer_middle {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-block: 1rem 0.75rem;
  }
  .footer_middle > a,
  .footer_bottom > a {
    color: rgba(248, 248, 248, 1);
    font-size: 13px;
  }
  .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    border-top: 1px solid rgba(248, 248, 248, 1);
    padding-block: 1rem;
  }
  .footer_bottom p,
  .footer_bottom a {
    font-size: 11px;
  }
  .testing {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .fake {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-between;
    align-content: space-evenly;
  }

  /* .team{
    display: grid;
    grid-template-columns:repeat(8, 1fr) ;
    grid-gap:5;
  }
  .team .img{
    grid-column: span 4;

  }z
  .team .img:nth-child(n+2){
grid-column: span 3;
  } */