@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: poppins, serif;
}

main {
    width: 100%;
}

.privacy-txt {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

hr {
    width: 80%;
    /* text-align: center; */
    margin: 0 auto;
    border: 1px solid #2d2d2d4d;
}

.content {
    width: 60%;
    margin: 2rem auto;
}

h4 {
    font-size: 1.25rem;
    margin-top: 2rem;
    font-weight: 600;
    line-height: 40px;
}

h5 {
    /* margin-bottom: 1rem; */
    line-height: 40px;
}

p {
    font-size: 0.875rem;
    line-height: 40px;
    margin-bottom: 3rem;
}

p a {
    color: #22443E;
}

ul {
    line-height: 40px;
}

ul li {
    margin-left: 1.5rem;
}

.special {
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .privacy-txt {
        font-size: 1.75rem;
    }

    .content {
        width: 70%;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 450px) {
    hr {
        width: 90%;
    }
    
    .privacy-txt {
        font-size: 1.5rem;
    }

    .content {
        width: 80%;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.725rem;
    }

    p {
        font-size: 0.725rem;
        font-weight: 500;
    }

    p a {
        font-size: 0.725rem;
    }

    ul {
        font-size: 0.725rem;
    }

    ul li {
        font-size: 0.725rem;
    }
}

