* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  .head{
    color:#22443E;
    padding-left: 65px;
    font-family:  'Poppins', sans-serif;
    /* width: 20px; */
     }
     .txt{
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
  }
   
     .txt p{
     color:rgba(45, 45, 45, 1);
    }
/* .big p{
  font-weight: 500;
} */
    .txt span{
        color:rgba(34, 68, 62, 1)
    }
    .big{
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      margin-bottom: 8px;
      color:rgba(45, 45, 45, 1);
    }
    button{
      background-color: rgba(34, 68, 62, 1);
      color: rgba(246, 246, 246, 1);
      width: 30%;
      padding: 22px;
      border-radius: 8px;
      border: none;
      font-size: 19px;
      margin-bottom: 10px;
      font-family:  'Poppins', sans-serif;
      
    }
    .small{
      color:rgba(45, 45, 45, 1);
      font-family:  'Poppins', sans-serif;
      font-weight: 450;
    }
    .ss{
      margin-top: 15px;
      color:rgba(45, 45, 45, 1);
      font-family:  'Poppins', sans-serif;
      margin-bottom: 15px;

    }
    .vsm{
      font-family:  'Poppins', sans-serif;
      color:rgba(45, 45, 45, 1);
    }
    .vsm span{
      color: rgba(34, 68, 62, 1);
      font-family:  'Poppins', sans-serif;
    }
    footer{
      position: absolute;
      bottom: 6px;
      font-size: 14px;
      font-family:  'Poppins', sans-serif;
      /* font-weight: 10; */
    } 
    @media only screen and (max-width:600px){
      .hero{
        width: 60%;
        align-items: center;
        font-size: 12px;
      }
    }