<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogga | Content</title>
   <!-- FAVICONS -->
   <link
   rel="shortcut icon"
   href="./img/logo_resources/Favicon_White.png"
   type="image/x-icon"
   id="fav-white"
 />
 <link
   rel="shortcut icon"
   href="./img/logo_resources/Favicon.png"
   type="image/x-icon"
   id="fav-green"
 />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="css/content-page.css">
  </head>
  <body>
    <header>
      <div class="banner">
        <div class="banner_wrapper">
          <div class="banner_left">
            <a href="signup.html">Have a story to share?</a>
            <button onclick="window.location.href='https://google.com';">
              Contact Us
            </button>
          </div>

          <div class="banner_search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="" id="" placeholder="Search" />
          </div>
        </div>

        <div class="banner_socials">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>

      <div class="nav_outer">
        <img src="./img/logo_resources/Favicon.png" alt="Blogga Logo" />

        <div class="nav_inner">
          <div class="hamburger">
            <span class="span1"></span><span class="span2"></span
            ><span class="span3"></span>
          </div>

          <nav>
            <img
              src=""
              alt=""
            />
            <ul>
              <li><a href="#">FASHION</a></li>
              <li><a href="#">ENTERTAINMENT</a></li>
              <li><a href="#">TECHNOLOGY</a></li>
              <li><a href="#">HEALTH</a></li>
              <li><a href="#">POLITICS</a></li>
              <li><a href="#">EDUCATION</a></li>
              <li><a href="#">FOOD</a></li>
              <li><a href="#">ART</a></li>
              <li>
                <a href="#" class="more">
                  MORE
                  <span class="dropdown_arrow"
                    ><img
                      src="./img/home_page/dropdown_arrow.png"
                      alt="dropdown" /></span
                ></a>
              </li>
            </ul>
          </nav>

          <i class="fa-solid fa-magnifying-glass"></i>

          <div class="nav_btns">
            <button
              class="button"
              onclick="window.location.href='./login.html';"
            >
              Sign In
            </button>
            <button class="subscribe button">Subscribe</button>
          </div>
        </div>
      </div>
    </header>

    <main>
     <section class="first-container">
        <p>Hello</p>
        <h3>Hamzah</h3>
        <div class="first-container-links">
            <a href="">MY SETTINGS</a>
            <a href=""> MY BOOKMARKS (0)</a>
            <a href="" class="active"> &nbsp; &nbsp; &nbsp; &nbsp; MY CONTENT (20) &nbsp; &nbsp; &nbsp; &nbsp;</a>
        </div>
        <hr class="hr-top">
     </section>

     <section class="second-container">
        <div class="second-container-content">
            <div class="content1">
              <h3>My Content</h3>
            </div>
            </div>
            <div class="content2">
              <p>20 post</p>
            </div>
        </div>
        <div class="content3">
            &nbsp; &nbsp;  FILTER BY: &nbsp; &nbsp;  <select class="select">
                <option disabledselect>ALL</option>
                <option>DRAFT</option>
                <option>PUBLISHED</option>
            </select>
        </div>
            </section>

            <div>

            </div>
        </div>
     </section>

     <section class="main-content-container">
      <!-- LEFT SECTION STARTS CONTENT 1-->

      <div>
        <div class="right-header">
          <h3></h3><div>

          </div>

          <!--This is the Div that carries the left section content-->
        </div>
      </div>

     <!-- MIDDLE SECTION STARTS CONTENT 1-->

      <div>
      <div class="middle-section">
       <div class="middle-image">
         <a href=""><img src="img/King-of-thieves.svg" alt="lord-of-rings-img"></a>
       </div>
       <div class="middle-content">
         <a href="">Review: ‘King of thieves’
          Wants You To Remember The Magic And Allure Of Indegenous Movies`</a>
             <p>Ultimately, King of Thieves is a great Yoruba epic thriller with enough drama,
              twists, and nostalgia to make you remember the magic and allure. </p>
              <div class="status-section" id="status1">
                <p class="status-text">STATUS</p>
                 <p class="published-text">PUBLISHED
                  <i class="fa-solid fa-angle-down"></i></p>
               </div>

               <div class="status-section2" id="icon-right1">
                <p class="edit-icon"><i class="bi bi-pencil"></i>&nbsp; Edit</p>
                <p class="delete-icon"><i class="fa-regular fa-trash-can"></i>&nbsp; Delete</p>
               </div>
       </div>
         <hr class="hr-line"/>
      </div>

      <!-- MIDDLE SECTION STARTS CONTENT 2-->

      <div class="middle-section">
         <div class="middle-image">
           <a href=""><img src="img/lord-of-rings-img.svg" alt="lord-of-rings-img"></a>
         </div>
         <div class="middle-content">
           <a href="">The Lord of the Rings: The Rings of Power recap: Not all who wander are lost</a>
               <p>Welcome back to Middle-earth, where people love to burst out into song
                 — especially when they're traversing wild nature. </p>
                 <div class="status-section" id="status2">
                  <p class="status-text">STATUS</p>
                   <p class="published-text">PUBLISHED
                    <i class="fa-solid fa-angle-down"></i></p>
                 </div>
                 <div class="status-section2" id="icon-right2">
                  <p class="edit-icon"><i class="bi bi-pencil"></i>&nbsp; Edit</p>
                  <p class="delete-icon"><i class="fa-regular fa-trash-can"></i>&nbsp; Delete</p>
                 </div>
         </div>
           <hr class="hr-line"/>
        </div>

     <!-- MIDDLE SECTION STARTS CONTENT 3-->

      <div class="middle-section">
         <div class="middle-image">
           <a href=""><img src="img/Ayinla-review.svg" alt="lord-of-rings-img"></a>
         </div>
         <div class="middle-content">
           <a href="">'Ayinla' Review: Tunde Kelani's Movie Worth The Hype Thanks To Adedimeji Lateef's Singular Performanced</a>
               <p>Ayinla is a film that tells the story of Nigerian musician, Ayinla Omowura, who used Apala music to address issues of the contemporary society
                 - commending and criticizing various governmental and individual acts. </p>
                <div class="status-section" id="status3">
                  <p class="status-text">STATUS</p>
                   <p class="published-text">PUBLISHED
                    <i class="fa-solid fa-angle-down"></i></p>
                 </div>
                 <div class="status-section2" id="icon-right3">
                  <p class="edit-icon"><i class="bi bi-pencil"></i>&nbsp; Edit</p>
                  <p class="delete-icon"><i class="fa-regular fa-trash-can"></i>&nbsp; Delete</p>
                 </div>
         </div>
           <hr class="hr-line"/>
        </div>

        <!-- MIDDLE SECTION STARTS CONTENT 4-->

      <div class="middle-section">
        <div class="middle-image">
          <a href=""><img src="img/Asake.svg" alt="lord-of-rings-img"></a>
        </div>
        <div class="middle-content">
          <a href="">Asake Sets A New Billboard Record</a>
              <p>Asake is the rave of the moment! The music star is
                trending once again following a recent achievement. </p>
               <div class="status-section" id="status4">
                 <p class="status-text">STATUS</p>
                  <p class="published-text">PUBLISHED
                   <i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="status-section2" id="icon-right4">
                  <p class="edit-icon"><i class="bi bi-pencil"></i>&nbsp; Edit</p>
                  <p class="delete-icon"><i class="fa-regular fa-trash-can"></i>&nbsp; Delete</p>
                 </div>
        </div>
       </div>


      </div>
    </div>
      <!--This is the Div that carries/ends the middle section content-->
  </div>

  <!-- RIGHT SECTION STARTS CONTENT 1-->

  <div>
    <div class="right-header">
      <h3></h3><div>

      </div>

      <!--This is the Div that carries the right section content-->
               </div>
    </section>


<section class="page-num">
  <hr class="hr-page-num"/>
  <div class="page-num-content">
     <a href="#" class="page-btn start-page"><img src="img/less-than.svg" alt=""></a>
     <a href="#" class="page-btn active">1</a>
     <a href="#" class="page-btn prev-page">2</a>
     <a href="#" class="page-btn">3</a>
     <a href="" class="page-btn">4</a>
     <a href="" class="page-btn">5</a>
     <a href="" class="page-btn end-page"><img src="img/Greater-than.svg" alt=""></a>
  </div>
</section>

<section class="last-container">
  <div class="last-header-content">
    <h3> WRITER'S PICK</h3>
    <p> SEE ALL</p>
  </div>
  <hr class="hr-bottom">

  <!--Parent div starts-->
  <div class="writers-content-container">

     <div class="writers-content">
    <img src="img/Constance1.svg" alt="Constance1">
    <p class="para1">Constance Wu Says Chris Pratt Was 'So Supportive' as
      She Returned to Work After Giving Birth</p>
    <div class="post-by">
      <p class="post-by-bolder">By Amara</p>
      <p>September 23, 2022  12:32</p>
    </div>
     </div>

     <div class="writers-content">
      <img src="img/Contance2.svg" alt="Constance2">
    <p class="para1">Constance Wu Talks About Her Baby Girl's 'Little Blue Butt': 'It's Very Special'</p>
    <div class="post-by">
      <p class="post-by-bolder" id="post-date">By Amara</p>
      <p id="post-date">September 23, 2022  12:32</p>
    </div>

     </div>
     <div class="writers-content">
      <img src="img/Constance3.svg" alt="Constance3">
      <p class="para1">Constance Wu Says She Attempted Suicide After
        'Fresh Off the Boat' Twitter Drama: 'Almost Lost My Life'</p>
      <div class="post-by">
        <p class="post-by-bolder">By Amara</p>
        <p>September 23, 2022  12:32</p>
      </div>

     </div>




  </div>
</section>



      <section class="newsletter">
        <h2>STAY UPDATED</h2>

        <p>
          Get the latest creative news from Blogga about Art , Fashion,
          Entertainment and lots more.
        </p>

        <form action="#">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your Email Address"
          />
          <button type="submit" class="subscribe button">Subscribe</button>
        </form>
      </section>
      <section class="write-icon">
        <a href="" class="gototop"> <i class="far fa-edit"></i>
        </a>
      </section>

    </main>
    <footer class="main_footer">
      <div class="footer_top">
        <img src="./img/logo_resources/Favicon_White.png" alt="Blogga Icon" />
        <ul>
          <li>ADVERTISE</li>
          <li>WRITE FOR US</li>
          <li>CATEGORIES</li>
          <li>
            <img
              src="./img/logo_resources/Favicon_White.png"
              alt="Blogga Icon"
            />
          </li>
          <li>ARCHIVES</li>
          <li>TERMS OF SERVICE</li>
          <li>PRIVACY</li>
        </ul>
      </div>

      <div class="footer_middle">
        <a href="#">
          <i class="fa-brands fa-facebook"></i>&ThinSpace;
          <span>FACEBOOK</span> </a
        ><a href="#"
          ><i class="fa-brands fa-twitter"></i>&ThinSpace;
          <span>TWITTER</span> </a
        ><a href="#"
          ><i class="fa-brands fa-linkedin-in"></i>&ThinSpace;
          <span>LINKEDIN</span> </a
        ><a href="#"
          ><i class="fa-brands fa-youtube"></i>&ThinSpace;
          <span>YOUTUBE</span></a
        ><a href="#"
          ><i class="fa-brands fa-instagram"></i>&ThinSpace;
          <span>INSTAGRAM</span> </a
        ><a href="#"
          ><i class="fa-brands fa-pinterest"></i>&ThinSpace;
          <span>PINTEREST</span>
        </a>
      </div>

      <div class="footer_bottom">
        <p>© 2022 The Blogga Team All Rights Reserved</p>
        <a href="#">Site Map</a>
      </div>
    </footer>

    <script src="./index.js"></script>

  </body>
</html>
